<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>MovieArchive</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/smoothproducts.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<link rel="stylesheet" href="/static/css/styles.css">
<script
  	src="https://code.jquery.com/jquery-3.4.1.js"
  	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous">
</script>	
	<script>
	$("#btnsubmit").on("click",(e)=>{
		$("#insertfrm").submit()
	})
	</script>
</head>
<body>
    {% include 'Navbar.html' %}
    <main class="page landing-page">
        <section class="clean-block clean-hero" style="background-image:url(&quot;/static/img/tech/image4.jpg&quot;);color:rgba(9, 162, 255, 0.85);">
            <div class="text">
                <h2>무비 아카이브에 오신 걸 환영합니다.</h2>
                <p class="text-justify">"이 영화 가족들이랑 같이 봐도 될까요?"<br>
               "동생이랑 같이 보고 싶은데 끔찍한 장면이 많을까요?"<br>
               "영화에 피 많이 나오나요? 귀신은 잘 보는데 피를 못 봐서..."<br><br>

		               혹시 영화를 보기 전에 위와 같은 걱정을 해본 적이 있습니까?<br>
		               이러한 질문에 도움되는 정보를 공유하고자 만든 웹페이지입니다.<br>
		               이곳은 영화 관객에게 충격, 혹은 부담이 될 수 있는 장면을 기록하고 있습니다.<br><br>
		
		               직접적인 영화 장면 묘사를 포함하고 있으므로 주의를 부탁드립니다.</p>
                <form id="insertfrm" action="/moviesinsert/" method="get">
                <button id="btnsubmit" class="btn btn-outline-light btn-lg" type="submit">영화 등록하기</button>
                </form>
        </div>
        </section>
   
        <section class="clean-block features">
            <div class="container">
                <div style = "margin-bottom: 5%;"> </div>
                <div class="row align-items-center" style="margin-bottom: 5%; margin-left: 5%">
                        <button class="btn btn-outline-primary btn-lg btnloc" type="button">가나다순</button>
                        <button class="btn btn-outline-primary btn-lg btnloc" type="button">연도별</button>
                        <button class="btn btn-outline-primary btn-lg btnloc" type="button">장르별</button> 
                        <button class="btn btn-outline-primary btn-lg btnloc" type="button">연령별</button>
                   </div>                
                <div class="row justify-content-center">                
                {% if recentones %}
                {% for m in recentones %} 
                    <div class="col-lg-4">
                        <div class="card clean-card text-center">
                        <a href = "review?idx={{m.idx}}"><img class="card-img-top w-100 d-block" src="/static/img/posters/{{m.img}}"></a>
                            <div class="card-body info">
                                <h4 class="card-title">{{m.title}}</h4>
                                <p class="card-text font-weight-bold">
                                	개봉일: {{m.date}} <br>
                                	장르: {{m.genre}} <br>
                                	등급: {{m.rate}} <br>
                                </p>                                
                            <form id="reviewfrm" method ="get" action="/reviewinsert/">
                            <input type= "hidden" value ="{{m.idx}}" name = "idx">	
                            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" id="btnsubmit">리뷰쓰기</button></div>
                            </form>
                            </div>
                        </div> 
                    </div>
                {% endfor %}
                {% else %}
                <div>없쪙</div>
                {% endif %}       
                </div>
            </div>
          
        </section>        
                
        
    </main>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/js/smoothproducts.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>