<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>영화등록</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/css/smoothproducts.css">
	<script
  	src="https://code.jquery.com/jquery-3.4.1.js"
  	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  	crossorigin="anonymous">
	</script>	
	<script>
	$("#btnsubmit").on("click",function(){
		$("#insertfrm").submit()
	})
	</script>
</head>
<body>
    {% include 'Navbar.html' %}
    <main class="page contact-us-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">영화등록</h2>
                    <p>영화정보를 모두 기입해주세요</p>
                </div>
                <form id="insertfrm" action="/moviesinsertok/" method="post" enctype = "multipart/form-data">{% csrf_token %}
                    <div class="form-group"><label>제목</label><input name="title" placeholder="제목입력" class="form-control" type="text"></div>
                    <div class="form-group"><label>개봉일</label><input name="date" placeholder="YYYY-MM-DD" class="form-control" type="text"></div>
                    <div class="form-group"><label>장르</label><input name="genre" placeholder="드라마, 액션, 스릴러, 호러, 슬래셔/고어, SF, 크리처, 코미디, 조직폭력, 가족, 청소년, 아동, 스포츠, 법정, 오컬트, 메디컬" class="form-control" type="text"></div>
                    <div class="form-group"><label>등급</label><input name="rate" placeholder="12, 15, 19+" class="form-control" type="text"></div>   
                	 <div class="form-group"><label>이미지</label><input type="file" name="img"></div>
                	<div class="form-group"><button class="btn btn-primary btn-block" type="submit" id="btnsubmit">리뷰 쓰러가기</button></div>
                </form>
            </div>
        </section>
    </main>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/js/smoothproducts.min.js"></script>
    <script src="/static/js/theme.js"></script>
</body>

</html>