<!DOCTYPE html>
<html>

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
<title>상세 정보</title>
<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
<link rel="stylesheet" href="/static/fonts/simple-line-icons.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="/static/css/smoothproducts.css">
<script src="https://code.jquery.com/jquery-3.4.1.js"
	integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
	crossorigin="anonymous">
	
</script>
<script>
	$("#btnupdate").on("click", function() {
		$("#updatefrm").submit()
	})
	$("#btndelete").on("click", function() {
		$("#deletefrm").submit()
	})
</script>
</head>

<body>
	{% include 'Navbar.html' %}
	<main class="page">
	<section class="clean-block features">
		<div class="container">
			<div class="block-heading">
				<h2 class="text-info">{{movie_title.title}}</h2>
				<p>{{review_info.description}}</p>

			</div>
			<div class="row justify-content-center">
				<div class="col-md-9 feature-box">
					<h4>폭력/신체손상/유혈</h4>
					<p class="text-justify">{{review_info.violence}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>가학적인 요소</h4>
					<p class="text-justify">{{review_info.torture}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>아동/여성/노인/동물 등 약자에 대한 폭력</h4>
					<p class="text-justify">{{review_info.weak}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>노출/성애묘사</h4>
					<p class="text-justify">{{review_info.exposure}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>욕설/언어</h4>
					<p class="text-justify">{{review_info.profanity}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>차별적 표현/비하 (외국인에 대한 비하/직업에 대한 비하/등등)</h4>
					<p class="text-justify">{{review_info.discrimination}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>충격을 주는 묘사/효과</h4>
					<p class="text-justify">{{review_info.shocking}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>음주/약물/흡연</h4>
					<p class="text-justify">{{review_info.drug}}</p>
				</div>
				<div class="col-md-9 feature-box">
					<h4>공포/긴장/초자연적인 현상</h4>
					<p class="text-justify">{{review_info.fear}}</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6">
				<form id="updatefrm" action="/moviesupdate/" method="get">
					<input type="hidden" name="review_idx"
						value="{{review_info.review_idx}}">
					<button class="btn btn-primary btn-block" type="submit"
						id="btnupdate">수정</button>
				</form>
			</div>
			<div class="col-sm-6">
				<form id="deletefrm" action="/delete/" method="get">
					<input type="hidden" name="review_idx"
						value="{{review_info.review_idx}}">
					<button class="btn btn-primary btn-block" type="submit"
						id="btndelete">삭제</button>
				</form>
			</div>
		</div>
	</section>
	</main>

	<script src="/static/js/jquery.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
	<script src="/static/js/smoothproducts.min.js"></script>
	<script src="/static/js/theme.js"></script>
</body>

</html>